<div class="panel panel-default">
  <div class="panel-heading">
    <h4>User Add</h4>
  </div>
  <div class="panel-body">
    <form class="" action="/users" method="post">
      <div class="col-xs-5 col-xs-offset-4 text-center">
        <b>name</b> <br>
        <input type="text" name="name" value="">
      </div>
      <div class="col-xs-5 col-xs-offset-4 text-center">
        <b>surname</b> <br>
        <input type="text" name="surname" value="">
      </div>
      <div class="col-xs-5 col-xs-offset-4 text-center">
         <b>username</b> <br>
         <input type="text" name="username" value="">
      </div>
      <div class="col-xs-5 col-xs-offset-4 text-center">
        <b>email</b> <br>
        <input type="text" name="email" value="">
      </div>
      <div class="col-xs-5 col-xs-offset-4 text-center">
         <b>password</b> <br>
         <input type="text" name="password" value="">
      </div>
      <div class="col-xs-5 col-xs-offset-4 text-center">
        <b>age</b> <br>
        <input type="text" name="age" value="">
      </div>
      <div class="col-xs-5 col-xs-offset-4 text-center">
        <b>admin</b> <br>
        <input type="text" name="admin" value="">
      </div>
      <div class="col-xs-5 col-xs-offset-4 text-center">
        <button type="submit" name="button">GÖNDER</button>
      </div>
    </form>
  </div>
</div>
